{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "commonjs": true,
        "mocha": true,
        "jquery": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "off",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-console": [
            "error",
            { "allow": [ "log", "error" ] }
        ],
        "no-unused-vars": "off"
    },
    "globals": {
        "Promise": true
    }
}
