@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

$gp: 16px;
$primary-font: 'Source Sans Pro';
$alt-font: 'Roboto';

$link-color: #0CE;

// ===========================
// Global Styles
// ===========================
html {
    font-size: $gp;
}

body {
    margin-top: $gp * 2;
    margin-left: $gp;
    font-family: $primary-font;
    color: #EEE;
    background-color: rgb(61, 61, 61);
}

a {
    transition: all 0.06s ease;
}

a:hover {
    color: #23527c;
    text-decoration: none;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    margin-top: $gp * 3;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

.emoji {
    margin-left: $gp * 10;
    font-size: $gp * 10;
}

.github-link {
    margin-top: 0;
}

@media (max-width: 650px) {
    h1 {
        font-size: $gp * 2;
    }
    
    h2 {
        font-size: $gp;
        margin-top: $gp;
    }
    
    h3 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1rem;
    }

    .emoji-wrapper {
        display: flex;
        justify-content: center;
    }

    .emoji {
        margin-left: 0;
        margin-right: $gp;
        font-size: $gp * 10;
    }
}
