// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab|Merriweather);

$header-font: "Merriweather";
$clock-font: "Open Sans";
$button-font: "Roboto Slab";

html {
  font-size: 16px;
}

body {
  background-color: #bfe;
}


.header {
  font-size: 4em;
  font-family: $header-font;
}

.clock {
  margin: 2.5rem auto 0;
  background-color: #dd6;
  height: 9rem;
  width: 20rem;
  border: 6px outset #eef;
  border-radius: 20px;
  font-size: 5.7rem;
  font-family: $clock-font;
}

.buttons {
  margin: 2rem auto;
}

.clock-btn {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #eee;
  border-radius: 20px;
  height: 4.5rem;
  width: 8rem;
  color: #eee;
  font-size: 2em;
  font-family: $button-font;
  outline: none;
  border: none !important;
}

.start-pause {
  background-color: #4a4;
  width: 12rem;
}

.reset {
  background-color: #f54;
}

// smart phones
@media (max-width: 415px) {

  .clock-btn {
    margin-bottom: .4rem;
    font-size: 1.7em;
  }

  .reset {
    width: 12rem;
  }

}
