// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Vollkorn:200,200italic);

$quote-font: 'Vollkorn';

html {
  font-size: 16px;
}

body {
  background: url(/images/projects/sunset.jpg) no-repeat center center fixed;
  background-size: cover;
}

.header {
  color: #C88861;
  font-size: 6rem;
  text-shadow: 2px 5px 18px #333;
}

.body-items {
  width: 80%;
}

.quote-box {
  position: relative;
  margin: 5rem auto;
  padding: 1rem;
  height: 14rem;
  width: 40rem;
  border-radius: .6rem;
  background-color: rgba(80,80,95,0.6);
  font-family: $quote-font;
  color: #ddd;
  transition: all 0.2s ease;

  p {
    font-size: 1.6em;
  }

}

.button-box {
  margin: -2rem auto;
  width: 40rem;
}

$button-color: desaturate(#C88861, 20);
$button-bg-color: rgba(200, 136, 97, 0.51);

.btn,
.btn:active,
.btn:visited {
  font-size: 4rem;
  color: $button-color;
  background: rgba(0,0,0,.8);
  transition: all 0.142s ease;
  border-color: $button-color;
}

.btn:focus {
  outline: 5px;
  color: $button-color;
  font-size: 4rem;
  background: rgba(0,0,0,.8);
  transition: all 0.142s ease;
  border-color: $button-color;
}

.btn:hover
{
  background: $button-bg-color;
  border-color: rgba(0,0,0,.8);
  color: #000;
}

.italic {
  font-style: italic;
}

// ==========================
// Tablets
// ==========================
@media (min-width: 866px) and (max-width: 1100px) {
  html { font-size: 13px; }

    .quote-box {
    width: 46rem;
    height: 17rem;

    p {font-size: 1.8em;}

  }
}

@media (min-width: 601px) and (max-width: 865px) {
  html { font-size: 10px };

  .quote-box {
    width: 46rem;
    height: 17rem;

    p {font-size: 1.4em;}

  }

}

@media (max-width: 600px) {
  html { font-size: 6px; }

  .body-items {
    width: 100%;
  }

  .quote-box {
    height: 100%;

    p {font-size: 1.3em;}

  }

}
